/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
  #header_menu_list {
    margin-left: 0;
    margin-right: 0;
  }
  #main_container {
    padding-top: 95px;
    padding-bottom: 60px;
  }
  #advantage_img img {
    max-width: 486px;
  }
  #products_list {
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 728px;
    justify-content: center;
  }
  .products_item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* 768 - 1024 */
@media screen and (max-width: 1023px) {
  .container {
    max-width: 728px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #header_container {
    justify-content: start;
  }
  #header_menu_list {
    margin-left: 100px;
    margin-right: auto;
  }
  #header_contacts {
    display: none;
  }
  #main_container {
    flex-direction: column;
    align-items: flex-start;
  }
  #main_img {
    margin-left: 180px;
    margin-top: -90px;
  }
  #advantage_img img {
    width: 302px;
    height: 183px;
  }
  #advantage_main {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
  #advantage_info_title {
    text-align: center;
    margin: 0 auto 60px auto;
    max-width: 563px;
  }
  #advantage_info_text {
    text-align: center;
    max-width: 666px;
    margin: 0 auto 40px auto;
  }
  #advantage_list {
    flex-wrap: wrap;
    max-width: 490px;
    margin: 0 auto;
  }
  .advantage_item {
    margin-top: 85px;
  }
  .advantage_circle {
    margin: 0 auto 13px auto;
  }
  .advantage_item_title {
    text-align: center;
    font-size: 18px;
  }
  .advantage_item_text {
    text-align: center;
  }
  #order_container {
    flex-direction: row-reverse;
    justify-content: left;
    position: relative;
  }
  #order_img {
    margin-right: 0;
    position: absolute;
    max-width: 315px;
    top: 390px;
    right: 77px;
  }
  #order_macaroon {
    width: 100%;
    margin-bottom: -315px;
  }
  #order_strawberry_big {
    top: -40px;
    left: -35px;
    max-width: 70px;
  }
  #order_strawberry_small {
    top: -200px;
    right: -240px;
  }
  #order_info_title {
    font-size: 44px;
  }
}
/* 425px - 767px */

@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #header_container {
    justify-content: start;
  }
  #header_menu_list {
    margin-left: auto;
    margin-right: 0;
    justify-content: space-evenly;
  }
  .header_menu_item {
    font-size: 13px;
  }
  #main_container {
    padding-top: 80px;
    align-items: center;
  }
  #main_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #main_info h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    max-width: 400px;
  }
  #main_info_text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
  }
  #main_img {
    margin: 38px auto 0 auto;
    width: 250px;
    height: 208px;
  }
  #main_img img {
    width: 100%;
  }
  #advantage_list {
    justify-content: space-around;
  }
  .advantage_item {
    margin-top: 45px;
  }
  #advantage_info_title {
    font-size: 29px;
    max-width: 415px;
  }
  #advantage_info_text {
    max-width: 354px;
    font-size: 16px;
    margin: 0 auto 40px auto;
  }
  #products_list {
    width: 100%;
    justify-content: center;
  }
  #products_title {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #order_container {
    justify-content: center;
    align-items: center;
  }

  #order_info_title {
    font-size: 30px;
    text-align: left;
  }
  #order_info_text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 60px;
  }
  #order_macaroon {
    display: none;
  }
  #order_strawberry_big {
    top: -170px;
    left: -50px;
  }
  #order input {
    max-width: 100%;
  }
  #order_form_btn {
    max-width: 100%;
  }
  #order_strawberry_small {
    display: none;
  }
  #order_img {
    max-width: 0;
  }
  #order_info_title {
    font-size: 30px;
  }
  #order_info_text {
    font-size: 16px;
  }
  #footer_container {
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  #footer_logo {
    order: 1;
  }
  #footer_logo,
  #footer_contacts {
    margin-bottom: 40px;
  }

  #footer_rights {
    position: absolute;
    bottom: 40px;
    left: 0;
    text-align: center;
    width: 100%;
  }
  #footer_social {
    order: 3;
  }
  #footer_contacts {
    order: 2;
  }
}

/* 375 -423 */

@media screen and (max-width: 424px) {
  #header_container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  #header_menu_list {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-top: 30px;
    background: #000000de;
    top: 0;
    left: 0;
  }
  .header_menu_item {
    margin: 15px 5px;
    color: #ffffff;
  }
  #burger_menu {
    display: block;
  }
  #burger_menu svg {
    width: 36px;
    height: 36px;
    fill: rgb(130, 19, 40);
  }
  #header_menu_list.open {
    display: flex;
  }
  #header_close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #ffffff;
    position: absolute;
    top: 44px;
    left: 320px;
  }
  .advantage_item .advantage_item_text {
    max-width: 156px;
    font-size: 13px;
  }
  #order_container {
    justify-content: center;
  }
}
@media screen and (max-width: 374px) {
  #advantage_info_text {
    max-width: 323px;
  }
  #order_info_title,
  #order_info_text {
    text-align: left;
  }
}
